@charset "UTF-8";
/* CSS Document */

body{
color:#0E1729;
font-family:Baskerville, 'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', 'serif';
font-size:400%;
height:100%;
margin:0 auto;
text-align:center;
}